pkgbase = uniwill-laptop
	pkgver = 1.0.4
	pkgrel = 1
	url = https://github.com/JochemKuipers/uniwill-laptop
	arch = x86_64
	license = GPL-2.0-only
	makedepends = cmake
	makedepends = qt6-base
	source = uniwill-laptop-1.0.4.tar.gz::https://github.com/JochemKuipers/uniwill-laptop/archive/refs/tags/v1.0.4.tar.gz
	sha256sums = 8988463cb10142459da1051f2bbef07c7721baf8e03a3c01d688193f9ff63032

pkgname = uniwill-laptop-dkms
	pkgdesc = DKMS driver for Uniwill / Medion ERAZER laptops
	arch = any
	depends = dkms
	install = uniwill-laptop-dkms.install

pkgname = uniwill-control
	pkgdesc = Erazer Control — Qt app and hotkey OSD for Uniwill / Medion ERAZER laptops
	depends = qt6-base
	depends = uniwill-laptop-dkms
